<!doctype html>
<html lang="ro">
<head>
  <div id="nr_masini" style="display: none;"><%-locals.nr_rez%></div>
  <title>Masini</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include ("../fragments/head.ejs") %>
  <script type="text/javascript" src="/static/js/masini.js"></script>
</head>
<body>
  <%- include ("../fragments/navbar.ejs") %>
  <h1 style="padding: 1rem;" class="text-center">Masini expuse pentru vanzare</h1>
  <div id="eroarePlaceholder"></div>
  <div id="optiuni">
    <div class="row">
      <div class="col">
        <label class="form-label" for="inp_brand">Brand:</label>
        <input class="form-control" list="id_brand" id="inp_brand" placeholder="Cauta dupa brand">
        <datalist id="id_brand">
            <% for (let opt of locals.branduri) { %>
                <option value="<%- opt.unnest %>"><%- opt.unnest %></option>
            <% } %>
        </datalist>
      </div>
      <div class="col">
        <label for="inp_pret" class="form-label">Pret maxim: <span id="pret_range"></span></label>
        <input type="range" class="form-range" id="inp_pret" 
               value="<%- locals.preturi_range.length > 0 ? locals.preturi_range[0].max : 0 %>" 
               min="<%- locals.preturi_range.length > 0 ? locals.preturi_range[0].min : 0 %>"  
               max="<%- locals.preturi_range.length > 0 ? locals.preturi_range[0].max : 0 %>">
      </div>
      <div class="col">
        <label for="inp_km" class="form-label">Km maxim:  <span id="km_range"></span></label>
        <input type="range" class="form-range" id="inp_km" 
               value="<%- locals.km_range.length > 0 ? locals.km_range[0].max : 0 %>" 
               min="<%- locals.km_range.length > 0 ? locals.km_range[0].min : 0 %>"  
               max="<%- locals.km_range.length > 0 ? locals.km_range[0].max : 0 %>">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" id="filtrare"><i class="bi bi-funnel"></i> Filtreaza</button>
        <button type="button" class="btn btn-outline-primary" id="rst"><i class="bi bi-arrow-clockwise"></i> Reseteaza</button>
        <button type="button" class="btn btn-outline-secondary" id="sortCrescPret"><i class="bi bi-sort-numeric-up"></i> Pret</button>
        <button type="button" class="btn btn-outline-secondary" id="sortDescrescPret"><i class="bi bi-sort-numeric-down-alt"></i> Pret</button>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row row-cols-3">
      <% for (let masina of locals.masini) { %>
        <div class="col-12 col-xl-3 col-lg-4 col-md-6 masini" style="margin-bottom: 1rem;" id="card_id_<%-masina.id_masina%>">
          <div class="card" style="border-radius: 0.7rem;">
            <img src="/static/img/masini/<%- masina.imagine %>"  style="border-top-right-radius: 0.7rem; border-top-left-radius: 0.7rem ;" class="card-img-top img-fluid" alt="<%- masina.brand %>,<%- masina.model %>">
            <div class="card-body">
              <h3 class="card-title val_brand"><%- masina.brand %></h5>
              <h4 class="card-subtitle mb-2 text-body-secondary"><%- masina.model %></h6> 
              <p class="card-text"><%- masina.descriere %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An fabricatie: <%- masina.an_fabricatie %></li>
              <li class="list-group-item">Serie sasiu: <%- masina.vin %></li>
              <li class="list-group-item">Accidente: <%- masina.accident %></li>
              <li class="list-group-item">Km: <span class="val_km"><%- masina.km %></span></li>
              <li class="list-group-item">Pret: <span class="val_pret"><%- masina.pret %></span>&euro;</li>
            </ul>
            <div class="card-body">
              <div class="d-grid gap-2">
                <div class="btn-group" role="group" aria-label="">
                  <a class="btn btn-primary" href="/masini/detalii/<%-masina.id_masina%>" role="button">Mai mult..</a>
                  <a class="btn btn-secondary" href="/masini/rezerva/<%-masina.id_masina%>" role="button">Rezerva acum!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <%- include ("../fragments/footer.ejs") %>
</body>
</html>
